---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

let allPosts = await getCollection("posts");
allPosts.sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
);
---

<BaseLayout>
  <section class="p-6 flex-1 flex flex-col justify-between">
    <!-- Welcome -->
    <div
      class="max-w-xl mx-auto flex flex-col justify-center flex-1 space-y-10"
    >
      <!-- logo -->
      <div class="space-y-2 text-center">
        <h1 class="text-2xl font-semibold">
          Venez nous retrouver au showroom aujourd’hui !
        </h1>
        <p class="italic text-2xl">
          La boutique est fermée afin de prioriser la vente en physique. Merci
          de votre compréhension.
        </p>
        <!-- prout -->
      </div>
      <div>
        <ul class="gap-4 items-center">
          <li>
            <a
              href="https://maps.app.goo.gl/m69AUd7VUW3TDWjm6"
              class="p-6 rounded-2xl border border-gray-500 flex flex-row items-center justify-center text-center hover:bg-blue-500 focus:bg-blue-500 hover:text-white duration-300 ease-in-out transition hover:border-blue-500 focus:border-blue-500"
            >
              <span class="text-xl font-medium">Cartes Violettes</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</BaseLayout>
