---

---

<header class="p-4 prose-a:no-underline">
  <!-- <div class="flex justify-between items-center p-2">
    <div class="flex">
      <a
        href="/"
        class="px-4 rounded py-2 hover:bg-neutral-200 dark:hover:bg-neutral-600"
        >Les questions</a
      >
      <a
        href="/about"
        class="px-4 rounded py-2 hover:bg-neutral-200 dark:hover:bg-neutral-600"
        >Notre stand</a
      >
    </div>
  </div> -->
</header>
